# dependencies
node_modules/
.pnp
.pnp.js

# testing
workspace/

# build output
dist/
.next/
out/

# project files
data/

# env files
.env
.env.local
.env.production
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# javascript
package-lock.json

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
